// define 3 theme color
// mat-palette accepts $palette-name, main, lighter and darker variants
$custom-theme-1-primary: mat-palette($mat-indigo, 500);
$custom-theme-1-accent: mat-palette($mat-orange);
$custom-theme-1-warn: mat-palette($mat-deep-orange, 500);

// create theme (use mat-dark-theme for themes with dark backgrounds)
$custom-theme-1: mat-dark-theme(
    $custom-theme-1-primary,
    $custom-theme-1-accent,
    $custom-theme-1-warn
);
