//@import "~@angular/material/prebuilt-themes/purple-green.css";
@import "~@angular/material/theming";

@include mat-core();

@import "custom-theme-1.scss";

.custom-theme-1{
  @include angular-material-theme($custom-theme-1);
}

body{
  margin: 0;
}
.codenebula-navbar-button-spacer {
  flex: 1 1 auto;
}

.codenebula-navbar-header-container{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 8px 16px;
}

.codenebula-navbar-title{
  //font-weight: bold;
  font-size: 30px;
}

.example-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

}

.sidenav-main-content{
  height: calc(100vh - 64px) !important; //offset of 64px for the top banner
}

.example-events {
  width: 300px;
  height: 200px;
  overflow: auto;
  border: 1px solid #555;
}

.home-parallax-container{
  max-height: 960px;
  margin: 0 auto;
  font-size: 24px;
  background-color: mat-color($custom-theme-1-primary);
}

.home-parallax{
  background: url('src/assets/img/nebula1.jpg') no-repeat center;
  background-size: cover;
  background-attachment: fixed;
  height: 500px;
}



