@import "~@angular/material/prebuilt-themes/purple-green.css";

body{
  margin: 0;
}
.codenebula-navbar-button-spacer {
  flex: 1 1 auto;
}

.codenebula-navbar-header-container{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 8px 16px;
}

.codenebula-navbar-title{
  //font-weight: bold;
  font-size: 30px;
}

.example-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

}

.sidenav-main-content{
  height: 100vh;
}

.example-events {
  width: 300px;
  height: 200px;
  overflow: auto;
  border: 1px solid #555;
}



